<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="Web developer based in Vancouver, Washington" />
<meta name="Keywords" content="Riley Watkins software programming web design
developer development computer science engineering" />

<title>Riley Watkins</title>

<link rel="stylesheet" type="text/css" href="/media/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/media/css/site-base.css" />

{% block head %}{% endblock %}
</head>
<body>

<div id="container">

<a href="/">
    <img id="avatar" alt="This is me" src="http://www.gravatar.com/avatar/8fbe1b463ab3bb024ff4808f3c6e0b02?s=80" />
</a>

<div id="content_body">
<h1><a href="/">Riley Watkins</a></h1>

{% block content %}{% endblock %}
</div>
</div>

<!-- rw -->
</body>
</html>
