{% extends "base.html" %}

{% block content %}
<p>I am a <strong>web developer</strong> based in Vancouver, Washington.</p>

<p>I have been alive for {{ decades }} decades.</p>

<p>I can be reached at</p>
<ul class="contact">
    <li>
        <img alt="email" src="/media/images/email.png" />
        riley at rileywatkins dot com
    </li>
    <li>
        <img alt="twitter" src="/media/images/twitter.png" />
        <a href="http://twitter.com/rileywatkins"
        title="I don't like writing enough to blog, hence Twitter">
            @rileywatkins</a>
    </li>
</ul>
{% endblock %}
